{% extends "base.html" %}
{% block content %}
<p>APPOINTMENTS @ OUR PRACTISE</p>
<hr style="width:50%;text-align:left;margin-left:0">
{% for appointment in appointments %}
    <p>Appointment Date: {{ appointment.date }}</p>
    <p>Time: {{ appointment.time }}</p>
    <p>Vet: {{ appointment.vet.name }}</p>
    <p>Pet's Name: {{ appointment.animal.name }}</p>
    
    <p>Checked In? {{appointment.checked_in}}</p>
    {% if appointment.checked_in == False %}
    <form action="/appointments/{{ appointment.id }}/check_in" method="POST">
        <button type="submit">Check In this Pet</button>
    </form>
    {% else %}
    <div class="boxed">
        <p>Pet's alreday checked in</p>
    </div>
    {% endif %}
    <br>
    <br>
    <hr style="width:50%;text-align:left;margin-left:0">
    
{% endfor %}
{% endblock %}