{% extends "base.html" %}
{% block content %}
<p>VETS @ OUR PRACTICE</p>
<hr style="width:50%;text-align:left;margin-left:0">
{% for vet in vets %}
    <p>Vet name: {{ vet.name }}</p>
    <!-- <p>Contact: {{ vet.contact }}</p> -->
    <p>Status: {{ vet.status }}</p>
    <form action="/vets/{{ vet.id }}" method="GET">
        <button type="submit">See more details</button>
    </form>
    <form action="/vets/{{ vet.id }}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
    <form action="/vets/{{ vet.id }}/edit" method="GET">
        <button type="submit">Update</button>
    </form>
    
<br>
<br>
<br>
<br>
<br>
<hr style="width:50%;text-align:left;margin-left:0">
    {% endfor %}
    {% endblock %}