{% extends "base.html" %}
{% block content %}
<p>ANIMALS @ OUR PRACTISE</p>
<hr style="width:50%;text-align:left;margin-left:0">
{% for animal in animals %}
    <p>Pet name: {{ animal.name }}</p>
    <!-- <p>DOB: {{ animal.dob }}</p> -->
    <p>Type: {{ animal.type }}</p>
    <!-- <p>Contact: {{ animal.contact }}</p> -->
    <!-- <p>notes: {{ animal.notes }}</p> -->
    <p>Vet: {{ animal.vet.name }}</p>
    
    <form action="/animals/{{ animal.id }}" method="GET">
        <button type="submit">See more details</button>
    </form>
    <form action="/animals/{{ animal.id }}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
    <form action="/animals/{{ animal.id }}/edit" method="GET">
        <button type="submit">Update</button>
    </form>
    <br>
<br>
<br>
<br>
<br>
<hr style="width:50%;text-align:left;margin-left:0">
    
{% endfor %}
    {% endblock %}