{% extends "base.html" %}
{% block content %}
{% for animal in animals %}
    <p>Name: {{ animal.name }}</p>
    <p>DOB: {{ animal.dob }}</p>
    <p>Type: {{ animal.type }}</p>
    <p>Contact: {{ animal.contact }}</p>
    <p>notes: {{ animal.notes }}</p>
    <p>Vet: {{ animal.vet.name }}</p>
    <form action="/animals/{{ animal.id }}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
    <form action="/animals/{{ animal.id }}/edit" method="GET">
        <button type="submit">Update</button>
    </form>
    <br>
{% endfor %}
    {% endblock %}