.boxed {
    font-size: 100%;
  width : 100%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  }
  .boxed > p {
    text-shadow: 2px 2px #89f7ed;
  }

  body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
    background-color: rgb(243, 238, 213);
  }
.menu{
    list-style-type:none;
}

input {
    padding: 10px;
    display: inline-block;
    float: left;
    
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left; /*Change to right here if you want it close to the inputs*/
}
select {
    padding: 10px;
    display: inline-block;
    float: left; /*Change to right here if you want it close to the inputs*/
}
button {
    display: inline-block;
    display:block;
    float: left;
    clear: left;
    width: 120px;
    text-align: left; /*Change to right here if you want it close to the inputs*/
    cursor: pointer;
    padding: 5px;
}

nav {
    padding: 0px;
    margin: 0px;
    text-align: left;
    
  }
  
  nav ul li {
    margin-bottom: 5px;
    text-transform: uppercase;
    display: block;
    
  }