{% extends "base.html" %}
{% block content %}

    {% if animals|length != 0 %}
    <form action="/animals/delete_all">
        <button type="submit">Delete ALL Animals from db</button>
    </form>

    {% elif animals|length == 0 and vets|length != 0 %}
    <p>No Animals in our database</p>
    <form action="/vets/delete_all">
        <button type="submit">Delete ALL vets from db</button>
    </form>

    {% elif animals|length == 0 and vets|length == 0 %}
    <p>No data to be deleted</p>

    {% endif %}

{% endblock %}

